* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #E5E5E5;
}
.header {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #0050B3; 
}
.head-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.search-input {
    padding: 5px 30px 5px 12px;
    max-width: 336px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.navigation {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
}
.user-logo{
    margin-right: 8px;
}
.user-name {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
}
.nav-link:before {
    content: "";
    background: #003A8C;
    width: 1px;
    height: 16px;
    margin-left: 12px;
    margin-right: 12px;
}
.nav-link:last-child:after{
    content: "";
    background: #003A8C;
    width: 1px;
    height: 16px;
    margin-left: 12px;
    margin-right: 12px;
}
.icons-pannel {
    display: flex;
    align-items: center;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
    text-decoration: none;    
}
.header-icon {
    fill: #002766;
}
.header-icon:hover{
    fill: white;
}
.icon-link:last-child:before{
    content: "";
    background: #003A8C;
    width: 1px;
    height: 16px;
    margin-right: 12px;
}
.container {
    width: 1200px;
    margin: auto;
    display: flex;
}
.menu-sidebar {
    max-width: 192px;
    margin-top: 16px;    
    margin-right: 18px;
}
.menu-sidebar .user-logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.menu-sidebar .user-name{
    font-weight: normal;
    color: #262626;
    font-size: 14px;
    line-height: 22px;
}
.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}
.nav-pic {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}
.nav-pic.active {
    background: #FFFFFF;
    color: #262626;  
    font-weight: bold;
}
.nav-svg {
    width: 24px;
    height: 24px;
}
.more .nav-svg {
    margin-left: 4px;
    width: 16px;
    height: 16px;
}
.nav-name {
    margin-left: 8px;
}
.more .nav-name {
    margin-left: 12px;
    color: #1890FF;
}
.nav-title {
    margin-bottom: 4px;
    margin-top: 0;
    padding-left: 10px;
    color: #262626;
    font-size: 12px;
    line-height: 20px;
}
.main-feed {
    margin-top: 16px;
    max-width: 588px;
    width: 100%;
}
.create-post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}
.post-header {
    background: #F5F5F5;
    border-bottom: 1px solid #D9D9D9;
}
.post-title {
    margin: 0;
    padding: 9px 16px;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}
.post-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 16px 24px;
}
.create-post-text {
    color: #8C8C8C;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}
.post-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px;
    margin-top: 0;
}
.post-footer:before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}
.post-button {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    margin-right: 8px;
}
.button-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.ready-post{
    margin-top: 16px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.ready-post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;    
}
.ready-post-info {
    display: flex;
    align-items: center;
}
.ready-post-time-info {
    display: flex;
    align-items: center;
}
.post-user-logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.author-name {
    text-decoration: none;
    color: #0050B3;
    font-size: 14px;
    line-height: 22px;
}
.time {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.time:after {
    display: inline-block;
    content:"";
    width: 4px;
    height: 4px;
    background-color: #BFBFBF;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;
}
.ready-post-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}
.ssylka {
   color: #096DD9 ; 
   text-decoration: none;
}
.post-content-image {
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    box-sizing: border-box;
}
.ready-post-likes {
    display: flex;
    margin-top: 9px;
}
.post-likes-counter {
    margin-left: 4px;
}
.ready-post-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}
.ready-post-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}
.post-button-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.right-sidebar {
    max-width: 384px;
    margin-left: 24px;
    margin-top: 16px;
}
.stories {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 0;
}
.story-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 24px;
}
.story-header-title {    
    font-size: 14px;
    font-weight: bold;
    color: #262626;
}
.story-header-buttons {
    display: flex;
    align-items: center;
}
.story-archive, .story-settings{
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    margin-left: 4px;
}
.story-archive:after {
    display: inline-block;
    content:"";
    width: 4px;
    height: 4px;
    background-color: #BFBFBF;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 4px;
    vertical-align: middle;
}
.story-body {
    width: 100%;
    margin-left: 24px;
    margin-right: 48px;
}
.story {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
   
}
.story-body-img {
    width: 48px;
    height: 48px;
}
.story-body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}
.story-title{    
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    font-weight: 600;
    display: block;
}
.story-info {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.story-footer {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-bottom: 16px;
}
.story-more {
    margin-left: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.alert {
    padding: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.alert-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.person-name {
    text-decoration: none;
    font-weight: 500;
    color: #0050B3;
}
.funpage {
    margin-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;    
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.funpage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 9px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.funpage-header:after{
    display: inline-block;
    content:"";
    height: 1px;
    margin-top: 9px;
    background-color: #D9D9D9;
    width: 100%;
}
.funpage-status {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}
.funpage-status:after{
    display: inline-block;
    content:"";
    height: 1px;
    margin-top: 23px;
    background-color: #D9D9D9;
    width: 100%;
}
.status-content {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}
.status-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #0050B3;
    margin-bottom: 12px;
}
.status-string {
    display: flex;
    align-items: center;
}
.status-string-name {
    margin-right: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.status-string-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595959;
    font-size: 12px;
    line-height: 20px;
    width: 17px;
    height: 22px;
    border: 1px solid #D9D9D9;
    background-color: #F5F5F5;
    border-radius: 4px;    
}
.funpage-buttons {
    display: flex;   
    margin-top: 16px;
}
.funpage-page-button {
    width: 118px;
    height: 40px;
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    border-width: 1px;
}
.funpage-page-button.first{
    color: #1890FF;
    border-color: #1890FF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.funpage-page-button.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.funpage-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;    
}
.funpage-likes-counter {
    font-size: 24px;
    line-height: 32px;
    color: #262626;
    margin-bottom: 4px;
}
.funpage-likes-info {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}